html
    head
        title #{user}'s Courses

    body
        h3 #{user}'s Courses

        ul
            each course in courses
                li #{course.code}: #{course.name}

        h3 Add a new course
        form(method="post")
            label Course Name
                input(type='text', name="name")
            label Catalog Code
                input(type='text', name="code")
            input(type='submit')
